html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./imgs/fundo-inicial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4)
}

.ancoras {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.2rem;
}

.ancoras a {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.logo img {
    width: 7.2rem;
    height: auto;
    margin: 0.6rem 0rem 0.6rem 4.5rem;
}

.AjustarOMeio {
    display: inline-block;
    width: 7.2rem;
    margin: 0.6rem 4.5rem 0.6rem 0rem;
}

.descricaoPagina {
    margin: 5.7rem 0rem 0rem 8.2rem;
}

.titulosElocal {
    color: #fff;
    font-size: 9.6rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}

.descricaoPagina p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
}

.titulosElocal span {
    color: #000;
    font-size: 2.4rem;
}

.assuntos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6.2rem;
    margin-top: 8.6rem;
    font-family: "Inter", sans-serif;
    color: #012169;
    font-size: 4rem;
}

.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18.2rem;
}

.cards a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.cards img {
    width: 22.2rem;
    height: 29.9rem;
    border: 5px solid #fff;
    border-radius: 2rem;
}

.cards p {
    color: #fff;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
}
